@import '../../theme/variables';

page-edit-event {
  ion-item {
    ion-icon {
      display: none
    }

    &.selected-user {
      h2, p, ion-icon {
        color: white;
        display: block;
      }

      background: color($colors, primary);
    }
  }
}
