<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="$users | async as users; else spinnerTemplate;">
    <ion-item *ngFor="let user of users" (click)="showUserDetail(user)">
      <ion-avatar slot="start">
        <img [src]="user.picture.thumbnail">
      </ion-avatar>
      <!-- `h2` and `p` can't be placed without this container below as the ion-item has display flex set with direction set to row -->
      <div class="item-content">
        <h2>{{user.name.first}} {{user.name.last}}</h2>
        <p>{{user.email}}</p>
      </div>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ng-template #spinnerTemplate>
  <div class="users-list-spinner" padding>
    <ion-spinner></ion-spinner>
  </div>
</ng-template>