<ion-tabs>
  <ion-tab label="Events" icon="calendar" href="/tabs/(events:event-list)">
    <ion-router-outlet stack="true" name="events"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Users" icon="contacts" href="/tabs/(users:user-list)">
    <ion-router-outlet stack="true" name="users"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet stack="true" name="about"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
