<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="events">
  <ng-container *ngIf="$events | async as events">
    <ion-list class="events__list" *ngIf="events.length; else noEvents">
      <ion-card *ngFor="let event of events; let i = index" (click)="showEventActions(event)">
        <img [src]="event.imageSafe"/>
        <div class="card-text-content">
          <div class="card-title">{{event.name}}</div>
          <div class="card-subtitle">Attendees: {{event.attendees.length}}</div>
        </div>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="manageEvent(manageModes.Create, null)">
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ng-template #noEvents>
  <div class="events__no-events">
    No Events Added. Please tap <ion-icon color="primary" name="create" (click)="manageEvent(manageModes.Create, null)"></ion-icon> to add an event
  </div>
</ng-template>