@import "../../theme/variables";
page-events {
  .events {
    &__spinner {
      text-align: center;
    }
    &__no-events {
      text-align: center;
      font-size: 1.1rem;
    }
    &__list {
      &__item {
        &__actions {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }
      ion-card {
        position: relative;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);
        height: 200px;
        text-shadow: 0 0 3px rgba(0, 0, 0, .8);
      }
      .card-text-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        height: fit-content;
        margin: auto;
        .card-title {
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
        .card-subtitle {
          font-size: 1.0em;
          width: 100%;
          color: #fff;
        }
      }
    }
  }
}

